@charset "utf-8";

/* CSS Document */
* {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 12px;
}

#cadastro fieldset {
	border: 0px;
	width: 500px;
}

#cadastro legend {
	font-size: 18px;
	color: #5F8AA6;
}

#cadastro .holder {
	font-size: 14px;
	padding-left: 20px;
	padding-top: 5px;
	width: 100px;
	float: left;
}

#cadastro .errorMessage {
	color: #ff0000;
	list-style-type: none;
}

/* LINK NOVO CADASTRO */
#tabela a.linknew {
	font-size: 18px;
	text-decoration: none;
	color: #5F8AA6;
}

#tabela a.linknew:hover {
	text-decoration: underline;
	color: #4919C8;
}

/* DEFINIÇÕES DA TABELA  */
#tabela table.sofT {
	text-align: center;
	font-weight: normal;
	font-size: 18px;
	color: #404040;
	width: 600px;
	background-color: #fafafa;
	border: 1px 1px 0px 1px #6699CC solid;
	border-collapse: collapse;
	border-spacing: 0px;
}

#tabela table.helpT {
	text-align: center;
	font-weight: normal;
	font-size: 11px;
	color: #404040;
	width: 500px;
	background-color: #fafafa;
	border: 1px #000000 solid;
	border-collapse: collapse;
	border-spacing: 0px;
}

#tabela th.helpHed {
	border-bottom: 2px solid #6699CC;
	border-left: 1px solid #6699CC;
	background-color: #BEC8D1;
	text-align: left;
	text-indent: 5px;
	font-weight: bold;
	font-size: 14px;
	color: #404040;
}

#tabela td.helpHed {
	border-bottom: 2px solid #6699CC;
	border-left: 1px solid #6699CC;
	background-color: #BEC8D1;
	text-align: left;
	text-indent: 5px;
	font-weight: bold;
	font-size: 14px;
	color: #404040;
}

#tabela td.helpBod {
	border-bottom: 1px solid #9CF;
	border-top: 0px;
	border-left: 1px solid #9CF;
	border-right: 0px;
	text-align: left;
	text-indent: 10px;
	font-weight: normal;
	font-size: 14px;
	color: #404040;
	background-color: #fafafa;
}

/* BUTTONS */

.btn {
	float: left;
	background: url(../images/btn_left.png) no-repeat;
	padding: 0 0 0 10px;
	margin: 5px 10px 0 0;
}
.btn a{
	float: left;
	height: 40px;
	background: url(../images/btn_stretch.png) repeat-x left top;
	line-height: 40px;
	padding: 0 10px;
	color: #fff;
	font-size: 1em;
	text-decoration: none;
}
.btn span {
	background: url(../images/btn_right.png) no-repeat;
	float: left;
	width: 10px;
	height: 40px;
}

#login {
	position: absolute;
	width: 320px;
	height: 240px;
	left: 35%;
	top: 30%;
	background: url(../images/login.jpg)
}

#login fieldset {
	 padding-top: 90px;
	 padding-left: 5px;
	 border: 0px;
}

#login .holder {
	padding-left: 20px;
	padding-top: 5px;
	width: 100px;
	float: left;
}
