@charset "utf-8";

html {
	background: #fff;
}

body {
	margin: 0;
	padding:0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 1.4em;
	width: 100%;
	display: table;
	background: url(images/header.jpg) repeat-x;
}	

a:link, a:visited {	color: #1a8fd5; text-decoration: none; }
a:active, a:hover { color: #666; text-decoration: underline; }

p {
	color: #666;
	text-align: justify;
	margin: 0 0 10px 0;	
}

h1 {
	font-size: 18px;
	color: #999;
	margin: 0 0 10px 0;
}

.container {
	width: 930px;
	margin: auto;
	background: #EDEDF5;
	border: 1px solid #979797;
}

#header {
	width: 930px;
	height: 190px;
	margin: 0 0 25px 0;
}

#slider {
	clear: both;
	width: 930px;
	height: 320px;
	padding: 0 10px;
}

#logo_area {
	float: left;
	width: 300px;
	height: 187px;
	font-weight: bold;
	color: #ffffff;
}

#logo {
	font-size: 30px;	
	margin: 0 0 15px 0;
	
}
#logo a {
	color: #CCC;
	text-decoration: none;
}
#tag_line {
	font-size: 14px;
	margin: 0;
}

.field {
	float: left;
	width: 234px;
	height: 23px;
	border: none;	
	border: none;
	color : #ccc;
	font-size: 15px;
	padding: 5px 3px 0 3px;
	background: #000;
	border: 1px solid #000000;

}

/********************************************************/

ul.topnav {
	list-style: none;
	padding: 0 20px;	
	margin: 0;
	float: left;
	width: 890px;
	background: #222;
	font-size: 12px;
	background: url(../images/topnav_bg.gif) repeat-x;
}
ul.topnav li {
	float: left;
	margin: 0;	
	padding: 0 15px 0 0;
	position: relative; /*--Declare X and Y axis base--*/
}
ul.topnav li a{
	padding: 10px 5px;
	color: #fff;
	display: block;
	text-decoration: none;
	float: left;
}
ul.topnav li a:hover{
	background: url(../images/topnav_hover.gif) no-repeat center top;
}
ul.topnav li span { /*--Drop down trigger styles--*/
	width: 17px;
	height: 35px;
	float: left;
	background: url(../images/subnav_btn.gif) no-repeat center top;
}
ul.topnav li span.subhover {background-position: center bottom; cursor: pointer;} /*--Hover effect for trigger--*/
ul.topnav li ul.subnav {
	list-style: none;
	position: absolute; /*--Important - Keeps subnav from affecting main navigation flow--*/
	left: 0; top: 35px;
	background: #333;
	margin: 0; padding: 0;
	display: none;
	float: left;
	width: 170px;
	-moz-border-radius-bottomleft: 5px;
	-moz-border-radius-bottomright: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	border: 1px solid #111;
}
ul.topnav li ul.subnav li{
	margin: 0; padding: 0;
	border-top: 1px solid #252525; /*--Create bevel effect--*/
	border-bottom: 1px solid #444; /*--Create bevel effect--*/
	clear: both;
	width: 170px;
}
html ul.topnav li ul.subnav li a {
	float: left;
	width: 145px;
	background: #333 url(../images/dropdown_linkbg.gif) no-repeat 10px center;
	padding-left: 20px;
}
html ul.topnav li ul.subnav li a:hover { /*--Hover effect for subnav links--*/
	background: #222 url(../images/dropdown_linkbg.gif) no-repeat 10px center; 
}

/********************************************************/

#showcase {
	
	width: 930px;
	height: 120px;
	padding: 0;
	margin: 0 0 30px 0;
}

#content_area {
	width: 930px;
	padding-left: 10px;
}

#left {
	width: 600px;
	float: left;
}

.content {
	width:	600px;
	margin: 0 0 10px 0 ;
}

.content_banner {
	width: 578px;
	height: 30px;
	background:  url(../images/content_header.jpg) no-repeat;
	border-left: 1px solid #000000;
	border-right: 1px solid #000000;
	font-size: 18px;
	padding: 10px 0 0 20px;
	margin: 0;
}

.content_banner a {
	color: #1a8fd5;
	text-decoration: none;
}

.content_banner a:hover {
	color: #1a8fd5; text-decoration: underline;
}

.content_banner h1 {
	font-size: 18px;
	font-weight: normal;
	color: #ffffff;
	margin: 0 0 10px 0;
}

.content_text {
	width: 558px;
	border-left: 1px solid #000000;
	border-right: 1px solid #000000;
	border-bottom: 1px solid #000000;
	padding: 20px 20px 10px 20px;
	margin: 0 0 30px 0;
}

.content_text img {
	float:left;
	margin: 0 10px 10px 0;
	border: 1px solid #000000;
	padding: 6px
	
}

#right {
	float: right;
	width: 300px;	
}

.sidebar {
	width: 300px;
	margin: 0 0 30px 0;
}

.sidebar_banner {
	width: 278px;
	height: 30px;
	background: url(../images/right_header.jpg);
	border-left: 1px solid #000000;
	border-right: 1px solid #000000;	
	font-size: 18px;
	color: #ffffff;
	padding: 10px 0 0 20px;
}

.sidebar_content {
	width: 258px;
	border-left: 1px solid #000000;
	border-right: 1px solid #000000;
	border-bottom: 1px solid #000000;
	padding: 15px 20px 10px 20px;
}

#footer_background {
	background: url(../images/footer_novo.jpg);
	width: 930px;
	height: 60px;
}

#footer {
	width: 100%;
	color: #ffffff;
	font-size: 11px;
	padding: 10px 0 0 0;
	text-align: center;
}

#footer a {
	color: #ffffff;
	text-decoration: none;
}

#footer a:hover {
	color: #ffffff;
	text-decoration: underline;
}

.list {
	color: #333;
	text-align: left;
	list-style: none;
	padding: 0 0 0 10px;
}

.list li {
	font-size: 14px;
	list-style: disc;
	padding: 0px;
	margin: 5px 0px;
}


.list a {
	color: #1a8fd5; text-decoration: none;
}

.list a:hover {
	color: #666; text-decoration: underline;
}

.footer li, .footer a {
	color: #108fd5;
	font-size: 14px;
	margin: 5px 0 0 0;
}

.footer a:hover {
	color: #ffffff;
}

.cleaner {
	clear: both;
	height: 0;
	margin: 0;
	padding: 0;
}
